{% extends 'base.html' %}

{% block content %}

    <section class="call-to-action-2 section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center" align="center">
                    <h2>RUSH LAMBDAS FALL 2019.</h2>
					<a data-scroll href="#services" class="btn btn-main">Sign up!</a>

                </div>
            </div> 		<!-- End row -->
        </div>   	<!-- End container -->
    </section>


    <section  class="video">
        <div class="container">
            <div class="row">

                <div  align="center">
                    <div  align="center">
                        <iframe  class="col-md-12 col-sm-12 col-xs-12" width="1000" height="500" src="https://www.youtube.com/embed/PNYNBY3IcZI"></iframe>
                    </div>
                 </div>



            </div>
        </div>
    </section>

    <section class="wrapper">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-6 col-xs-12" align="center">
                    <h1 class="white"> New Member Educator </h1>
                </div>




            </div>
        </div>
    </section>

    <section class="wrapper">
        <div class="container">
            <div class="row">

                <div class="col-md-7 col-sm-6 col-xs-12">
                    <div class="rectangle-text-black" >

                        <p class="white" > "“Being the kid who always wanted to be involved in school activities and join several organizations as a student, I never once thought of being in a fraternity or even rushing. But here I am now as New Member Educator and I don’t regret making this decision one bit. After serving on executive board as VP Service and VP Internal, I would say that this is the most rewarding thing yet. You’re probably wondering why? Well I suggest you rush and find out this spring! I have to say that rush was a little intimidating for me but what I received in the end is truly unexplainable. Lambdas has not only given me brothers of a lifetime but it has also helped me develop better social and leadership skills within the organization. Trust me when I say the brotherhood is as strong as it has ever been, so the time for you to join is now! I want you to experience what I did through out my college career and create these unforgettable memories as I did."</p>
                    </div>
                </div>

				<div class="col-md-5">
					<img src="static/images/lambdaphotos/fall18.png" class="img-responsive" alt="">
				</div>


            </div>
        </div>
    </section>


	<section class="blog" id="blog">
		<div class="container">
			<div class="row">

				<!-- section title -->
				<div class="title text-center ">
					<h2> Find your home <span class="color">away from home!</span></h2>
					<div class="border"></div>
					<p>With over 50 chapters around the world, you can make unforgettable memories and connections that can last way after your college career! </p>
				</div>
				<!-- /section title -->
				<!-- single blog post -->
				<article class="col-md-4 col-sm-6 col-xs-12 clearfix " >
					<div class="post-item">
						<div class="media-wrapper">
							<img src="static/images/lambdaphotos/southwest.png" alt="amazing caves coverimage" class="img-responsive">
						</div>

						<div class="content">
							<h3><a href="single-post.html">Hangout with brothers all over the region!</a></h3>
<!--							<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non skateboard dolor brunch.</p>-->
<!--							<a class="btn btn-main" href="single-post.html">Read more</a>-->
						</div>
					</div>
				</article>
				<!-- /single blog post -->

				<!-- single blog post -->
				<article class="col-md-4 col-sm-6 col-xs-12 "  >
					<div class="post-item">
						<div class="media-wrapper">
							<img src="static/images/lambdaphotos/utmixer.png" alt="amazing caves coverimage" class="img-responsive">
						</div>

						<div class="content">
							<h3><a href="single-post.html"></a>Meet different sororities around the world!</h3>
<!--							<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non skateboard dolor brunch.</p>-->
<!--							<a class="btn btn-main" href="single-post.html">Read more</a>-->
						</div>
					</div>
				</article>
				<!-- end single blog post -->

				<!-- single blog post -->
				<article class="col-md-4 col-sm-6 col-xs-12 "  >
					<div class="post-item">
						<div class="media-wrapper">
							<img src="static/images/lambdaphotos/oldtailgate.png" alt="amazing caves coverimage" class="img-responsive">
						</div>

						<div class="content">
							<h3><a href="single-post.html">Throw amazing Tailgates!</a></h3>
<!--							<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non skateboard dolor brunch.</p>-->
<!--							<a class="btn btn-main" href="single-post.html">Read more</a>-->
						</div>
					</div>
				</article>
				<!-- end single blog post -->
			</div> <!-- end row -->
		</div> <!-- end container -->
	</section> <!-- end section -->


<!--	Start Counter Section-->
<!--		==================================== &ndash;&gt;-->

		<section  class="counter-wrapper section-sm" >
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="title">
							<h2>Main Pillars</h2>
							<p>These four pillars are what we value most in this organization. Whether it be volunteering or academics, we are here to help you in all aspects of being a great brother! </p>
							<div class="border"></div>
						</div>
					</div>
					<!-- first count item -->
					<div class="col-md-3 col-sm-6 col-xs-6 text-center " >
						<div class="counters-item">
<!--							<i class="tf-ion-ios-lambda-outline"></i>-->
							<div>
							    <span class="counter" data-count="150">1</span>
							</div>
							<h3>Academics</h3>
						</div>
					</div>
					<!-- end first count item -->

					<!-- second count item -->
					<div class="col-md-3 col-sm-6 col-xs-6 text-center " >
						<div class="counters-item">
<!--							<i class="tf-ion-ios-analytics-outline"></i>-->
							<div>
							    <span class="counter" data-count="130">2</span>
							</div>
							<h3>Brotherhood</h3>
						</div>
					</div>
					<!-- end second count item -->

					<!-- third count item -->
					<div class="col-md-3 col-sm-6 col-xs-6 text-center "  >
						<div class="counters-item">
<!--							<i class="tf-ion-ios-compose-outline"></i>-->
							<div>
							    <span class="counter" data-count="99">3</span>
							</div>
				            <h3>Philanthropy</h3>

						</div>
					</div>
					<!-- end third count item -->

					<!-- fourth count item -->
					<div class="col-md-3 col-sm-6 col-xs-6 text-center ">
						<div class="counters-item kill-border">
<!--							<i class="tf-ion-ios-bolt-outline"></i>-->
							<div>
							    <span class="counter" data-count="250">4</span>
							</div>
							<h3>Social</h3>
						</div>
					</div>
					<!-- end fourth count item -->
				</div> 		<!-- end row -->
			</div>   	<!-- end container -->
		</section>   <!-- end section -->



    <!-- Start Services Section
		==================================== -->

		<section class="services"  id="services">
			<div class="container">
				<div class="row">

					<!-- section title -->
					<div class="title text-center" >
						<h2 >Rush Schedule</h2>
						<p>Here is our rush schedule for this semester. All events are free and rides will be provided if you are in need of one. Don't be afraid to contact a fellow brother. We would love to help make rush fun an exciting for you!</p>
						<div class="border"></div>
					</div>
					<!-- /section title -->

                    <!-- Single Service Item -->
					<div class="col-md-4 col-sm-6 col-xs-12  no-padding" >
						<div class="service-block color-bg text-center">
<!--							<div class="service-icon text-center">-->
<!--								<i class="tf-ion-ios-copy-outline"></i>-->
<!--								<img src="static/images/lambdaphotos/career_fair.png">-->
<!--							</div>-->
							<h2>CAT'S BACK</h2>
							<h3></h3>
							<p>Come find our booth at Cat's Back to meet some of our brothers! Don't be shy because we are all excited to meet you guys!</p>
						</div>
					</div>
                    <!-- End Single Service Item -->

                    <!-- Single Service Item -->
					<div class="col-md-4 col-sm-6 col-xs-12  no-padding" >
						<div class="service-block text-center">
<!--							<div class="service-icon text-center">-->
<!--								<i class="tf-ion-ios-alarm-outline"></i>-->
<!--							</div>-->
							<h2>INFO SESSION 1</h2>
							<h3></h3>
							<p>Our first info session. Come by and learn more about what this brotherhood has to offer!</p>
						</div>
					</div>
                    <!-- End Single Service Item -->

                    <!-- Single Service Item -->
					<div class="col-md-4 col-sm-6 col-xs-12  no-padding"  >
						<div class="service-block color-bg text-center">
<!--							<div class="service-icon text-center">-->
<!--								<i class="tf-ion-ios-book-outline"></i>-->
<!--							</div>-->
							<h2>KBBQ WITH AKDPHI</h2>
							<h3></h3>
							<p>Hungry for some BBQ? Come by and enjoy the evening with us and meet our sister sorority Alpha Kappa Delta Phi!</p>
						</div>
					</div>
					<!-- End Single Service Item -->

					<!-- Single Service Item -->
					<div class="col-md-4 col-sm-6 col-xs-12  no-padding" >
						<div class="service-block  text-center">
<!--							<div class="service-icon text-center">-->
<!--								<i class="tf-ion-ios-briefcase-outline"></i>-->
<!--							</div>-->
							<h2>INFO SESSION 2</h2>
							<h3></h3>
							<p>Our Second Info Session . If you missed our first one please come by if you have time.</p>
						</div>
					</div>
					<!-- End Single Service Item -->

					<!-- Single Service Item -->
					<div class="col-md-4 col-sm-6 col-xs-12  no-padding"  >
						<div class="service-block color-bg text-center">
<!--							<div class="service-icon text-center">-->
<!--								<i class="tf-ion-ios-crop"></i>-->
<!--							</div>-->
							<h2>GAME NIGHT</h2>
							<h3></h3>
							<p>Come by and enjoy a fun game night with the brothers! Snacks and drinks wil be provided.</p>
						</div>
					</div>
					<!-- End Single Service Item -->

					<!-- Single Service Item -->
					<div class="col-md-4 col-sm-6 col-xs-12  no-padding">
						<div class="service-block text-center">
<!--							<div class="service-icon text-center">-->
<!--								<i class="tf-ion-ios-home-outline"></i>-->
<!--							</div>-->
							<h2>RUSH PARTY</h2>
							<h3></h3>
							<p>It is time for our Rush Party! Contact any of our brothers for information on rides</p>
						</div>
					</div>
					<!-- End Single Service Item -->

                    <!-- Single Service Item -->
					<div class="col-md-4 col-sm-6 col-xs-12  no-padding">
						<div class="service-block color-bg text-center">
<!--							<div class="service-icon text-center">-->
<!--								<i class="tf-ion-ios-home-outline"></i>-->
<!--							</div>-->
							<h2>BROTHERHOOD BONFIRE </h2>
							<h3></h3>
							<p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel </p>
						</div>
					</div>
					<!-- End Single Service Item -->

                    <!-- Single Service Item -->
					<div class="col-md-4 col-sm-6 col-xs-12  no-padding">
						<div class="service-block text-center">
<!--							<div class="service-icon text-center">-->
<!--								<i class="tf-ion-ios-home-outline"></i>-->
<!--							</div>-->
							<h2>INFO SESSION 3</h2>
							<h3></h3>
							<p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam iaculis arcu at mauris dapibus consectetur.</p>
						</div>
					</div>
					<!-- End Single Service Item -->

                    <!-- Single Service Item -->
					<div class="col-md-4 col-sm-6 col-xs-12  no-padding">
						<div class="service-block color-bg text-center">
<!--							<div class="service-icon text-center">-->
<!--								<i class="tf-ion-ios-home-outline"></i>-->
<!--							</div>-->
							<h2>INTERVIEWS</h2>
							<h3></h3>
							<p>Want to be a part of our brotherhood? We will be having our interviews on this date. Please remmeber attire is business casual and you MUST attend 1 INFO SESSION to qualify for a bid.</p>
						</div>
					</div>
					<!-- End Single Service Item -->

				</div> 		<!-- End row -->
			</div>   	<!-- End container -->
		</section>   <!-- End section -->




{% endblock %}
