{% extends 'base.html' %}

{% block content %}

<section class="about" id="about">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <div class="rectangle-text-black">

                        <ul class="feature-list">
					        <li> <i class="tf-ion-android-checkmark-circle"></i>Tommy Nguyen</li>

				        </ul>

                        <ul class="feature-list">
					        <li> <i class="tf-ion-android-checkmark-circle"></i>Tommy Nguyen</li>

				        </ul>
                </div>





            </div>

             <div class="col-md-3">
                <div class="rectangle-text-black">
                    <div class="smaller-boxes">
                        <p>Hello world</p>


                    </div>


                </div>

            </div>



        </div>

    </div>




</section>




{% endblock %}